body {
    background-color: #61D0EC;
}

.circ1 {
    width:120px;
    height:120px;
    border-radius:120px;
    background-color:rgb(255, 255, 255);
    margin: 20px 0 0 60px;
}

.circ2 {
    width:150px;
    height:80px;
    border-radius: 80px / 50px;
    background-color:rgb(255, 255, 255);
    margin: -90px 0 0 80px;
}

.circ3 {
    width:150px;
    height:90px;
    border-radius: 80px / 50px;
    background-color:rgb(255, 255, 255);
    margin: -90px 0 0 0px;
}

@-webkit-keyframes animar {
    0%{}
    50% { -webkit-transform:translateX(700px) scale(1.2);}
    100% {-webkit-transform:translateX(0px); }
}

#sq {
    -webkit-animation-name: animar;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: lineal;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-name: animar;
    -moz-animation-duration: 20s;
    -moz-animation-timing-function: lineal;
    -moz-animation-iteration-count:infinite;
    opacity: 0.6;
    margin:0;
    position:absolute;
}

#sq2 {
    -webkit-animation-name: animar;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: lineal;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-name: animar;
    -moz-animation-duration: 20s;
    -moz-animation-timing-function: lineal;
    -moz-animation-iteration-count:infinite;
    opacity: 0.4;
    position:absolute;
    margin:30px 0 0 0;
}

#sq3 {
    -webkit-animation-name: animar;
    -webkit-animation-duration: 12s;
    -webkit-animation-timing-function: lineal;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-name: animar;
    -moz-animation-duration: 20s;
    -moz-animation-timing-function: lineal;
    -moz-animation-iteration-count:infinite;
    opacity: 0.7;
    position:absolute;
    margin:100px 0 0 50px;
}