<?xml version="1.0" encoding="UTF-8"?>
<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:rim="http://www.blackberry.com/ns/widgets"
  version="1.0.0.0">
	<name>Lego Maker</name>
	<author>jhonFx</author>
	<icon rim:hover="false" src="/img/icon.png" />
	<rim:permissions>
		<rim:permit>read_geolocation</rim:permit>
	</rim:permissions>
	<content src="index.html" />
	<feature id="blackberry.app" required="true" version="1.0.0.0"/>
</widget>